@charset "utf-8"

o_shop_collapse_category
/* Collapse category */
#o_shop_collapse_category li a{
  display: inline-block;
  padding-left: 3px;
}
#o_shop_collapse_category li i.fa{
  cursor: pointer;
}
.subcategories .img-responsive {
        display:inherit;
        min-height: 128px;
}
#popular_products_grid .img-responsive {
        display:inherit;
        min-height: 128px;
}
.white-bg {
    background-color: #FFF;
    border-color: #FFF;
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    color: #787878;
    -webkit-box-shadow: unset;
}
span.black-text {
    color: #000 !important;
    font-weight: bold !important;
}
    .img-responsive {
        display: inline;
}
.subcategories div.active {
  height: 32px;
  padding: 5px 0px;
  border-radius: 0px;
}
.subcategories div.active > a {
    color: #FFF;
    padding: 5px 12px;
    font-weight: bold;
}
.subcategories b.title {
  font-size: 18px;
  color: #787878;
}
.category-tiles {
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    background-color: #FFF;
}
div.product-group-stripes-browse {
    box-shadow: 0 0 6px rgba(0,0,0,.3);
}
.subcategories .subcategory {
    min-height: 42px;
    border-bottom: 1px solid #f5f5f5;
    line-height: 42px;
}
.subcategories .subcategory:hover {
    background-color: #f5f5f5;
}
.subcategories-widget .inactive:hover {
    background-color: #f5f5f5;
}
.subcategories li.active > a {
    border-radius: 0px;
}
.subcategories li.inactive > a {
    padding: 0px;
}
.subcategories li.inactive > a:hover {
    background-color: #f5f5f5;
    padding: 0px;
}
.subcategories .box-shadow-any {
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    background-color: #FFF;
}
#non-intrusive-categ-img {
    height: 300px;
    z-index: -1;
    position: absolute;
    width: 100%;
    color: white;
    background-color: #787878;
}
#non-intrusive-categ-img > h1 {
    margin-top: 100px;
    padding-left: 17%;
    font-size: 70px;
}
.wrap-relative {
    position: relative;
}
.subcategories-more-margin {
    margin-top: 170px;
}
#search_oncategs_input {
    background-color: #FFF;
}
.inline-hs {
    display: inline;
}
.panel.no-product {
    background-color: #f5f5f5;
}
.panel-body.no-product {
    border-radius: 4px;
    margin: 0px;
    background-color: #FFF;
    margin-bottom:15px;
}
.panel-heading.no-product {
}
.panel-heading.no-product > h3{
    margin-top: 0px;
}
.breadcrumb-holder-vx > .breadcrumb.pull-left.panel-no-borders {
    background-color: unset;
}
.breadcrumb-holder-vx > .breadcrumb > li > a {
    color: white;
}
#products_grid_before > div.panel > div.panel-collapse > div.panel-body {
    padding-left: 0px;
    padding-right: 0px;
}
#products_grid_before > form > div.panel > div.panel-collapse > div.panel-body {
    padding-left: 0px;
    padding-right: 0px;
}
#products_grid_before > form > ul > li > div.panel > div.panel-collapse > div.panel-body {
    padding-left: 0px;
    padding-right: 0px;
}
